.not-found-container{
    height: 100vh;
    padding: 25px;
}

.not-found-info-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.not-found-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-icon-sm{
    display: none;
}

.not-found-info{
    text-align: center;
}

.fake-link{
    color: #f50057;
    cursor: pointer;
}

@media(max-width: 768px){
    .not-found-icon-container{
        display: none;
    }

    .not-found-icon-sm{
        display: flex;
        justify-content: center;
    }
}