
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    box-shadow: 0px 0px 1px 1px rgba(25, 25, 25, 0.6)
}

.menuButton{
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0px 15px;
    padding: 20px;
    font-size: 1.1rem;
}


.mr-2{
    margin-right: 15px;
}


@media(min-width: 768px){
    .buttonDrawer{
        display: none !important;
    }
}
