@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css?family=Offside&display=swap');

body p, body span{
    font-size: 1.2rem;
}

body small, body li{
    font-size: 1.1rem;
}

body, div, button, li {
    font-family: 'Darker Grotesque', sans-serif !important;
}

.coder-mind{
    font-family: 'Offside', cursive !important;
}

label.Mui-focused{
    color: #f50057 !important;
}

.Mui-focused fieldset{
    border-color: #f50057 !important;
}

.MuiInput-underline:after{
    border-bottom-color: #f50057 !important;
}

button > span{
    font-size: 1rem;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.refer{
    font-size: .9rem;
}

body {
    margin: 0;
    background-color: #fff;
}

a{
    text-decoration: none;
}