@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css?family=Offside&display=swap');

body, div, button, li {
    font-family: 'Darker Grotesque', sans-serif !important;
}

.coder-mind{
    font-family: 'Offside', cursive !important;
}

button > span{
    font-size: 1rem;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    margin: 0;
    background-color: #fff;
}

a{
    text-decoration: none;
}