.appContent {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
    /* box-shadow: 0px 0px 3px 1px rgba(125, 125, 125, 0.6); */
    border-radius: 5px;
    background-color: #FFF;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #DDD;
}

a{
    text-decoration: none;
}