/* Define your global styles here */

@import url('./assets/css/darker-grotesque.css');
@import url('./assets/css/offside.css');
@import url('./assets/css/material-icons.css');

body {
    font-family: 'Darker Grotesque', sans-serif !important;
    margin: 0;
}

.codermind {
    font-family: 'Offside', sans-serif !important;
}

.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fake-link {
    text-decoration: none;
    cursor: pointer;
}